# fly.toml app configuration file generated for take-home-enter on 2025-11-06T15:08:28Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'take-home-enter'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
